﻿@model IEnumerable<WorldNewsModel>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

        @{int i = 1;}
        @foreach (var todo in Model)
        {
            <li data-target="#myCarousel" data-slide-to=@i></li>
            { i++; }
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @{i = 0;}
        @foreach (var todo in Model)
        {

            if (i == 0)
            {
                @:<div class="item active">
                }
                else
                {
                    @:<div class="item">
                    }
                    <img src="~/images/banner2.svg" alt="ASP.NET" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            @todo.Title
                        <p></p>
                        User UpVotes: @todo.Score
                        <br />
                        <a class="btn btn-default" href=@todo.Link>
                            Explore
                        </a>
                        </p>
                    </div>
                @:</div>
                { i++; }
            }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
