﻿@model IEnumerable<WorldNewsModel>

<div style="border: 1px solid black; margin: 5px">
    <h2>News Today:</h2>

    <ul>
        @foreach (var todo in Model)
        {
            <li><a href="/Home/Choose/@todo.Id">@todo.Title</a></li>
        }
    </ul>

</div>