﻿@model WorldNewsModel

<div style="border: 1px solid black; margin: 5px">
    <h2>Most popular news feed today:</h2>

    <p>Title: @Model.Title</p>
    <p>Link: @Model.Link</p>
    <p>Score: @Model.Score</p>
    <p>Date: @Model.Date</p>
    <p>Flair: @Model.Flair</p>

</div>